# common backups, autosaves, lock files, OS meta-files
*~
\#*
.#*
.DS_Store
*.bak
TAGS
.swp
.save*

# Ignore backup merge conflict files created by git
*.orig

# Ignore maven output
*/target/

# IntelliJ
.idea/
*.iml

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml

# Eclipse
.project
.classpath
.settings/
bin/
tmp/
